<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace = "base::layout(~{::section})">
<head>
    <title>Spring Boot Thymeleaf Example</title>
</head>
<body>
   <h1>Hello </h1>
   <section class = "banner d-flex justify-content-center align-items-center">
	<div class ="text-center">
		<h1 class ="font-weight-bold">Smart Contact Manager</h1>
		<p>Start Collecting your contacts in very smarter way. We provide very efficent way of handling contacts.</p>
		<button class ="btn bg-primary btn-sm text-white"> Get Started</button>	
	</div>

   </section>
  
</body>
</html>